/* CSS Document */
a{
	color:#666666;text-decoration: none
}
a:hover{
	color:red;
}
.header{
	width: 100%;
	height:145px; 
	display: flex;
	flex-direction: row;
	border-bottom: #cccccc solid 0.5px;
}
.left-logo{
	margin-left: 70px;
	margin-top: 20px;
	width: 152px;
	height: 102px;
}
.searchbox{
	display: flex;
	flex-direction: row;
	margin-left: 200px;
	margin-top: 55px;
	width: 550px;
	height: 47px;
	border: solid #FB0004 2px;
	text-align: center
}
.search-input{
	font-family: '华文宋体';
	font-size: 18px;
	width: 480px;
	height: 95%;
	
	border:0;
	outline:none;
}
.camera{
	margin-top: 13px;
	margin-left: -40px;
	width:23px;
	height: 21px;
	
}
.search-icon-box{
	background-color: #FB0004;
	width: 70px;
	height: 47px;
	position:relative;
	right: 0px;
	margin-left: 17px;
	
}
.search-icon{
	width: 25px;
	height: 25px;
	margin-top: 11px;
}
.language{
	margin-left: 100px;
	margin-top:55px ;
}
.head-right-logo{
	width: 75px;
	height: 82px;
	margin-top: 38px;
	margin-left: 100px;
}
.mid-content-box{
	width: 100%;
	height: 521px;
	display: flex;
	flex-direction:row;
	border-bottom: #cccccc solid
}
.left-type-box{
	width: 20%;
	height: 100%;
	border-right: #cccccc solid;
}
.mid-dongtai-haibao{
	width: 60%;
	height: 100%;
}
.right-user-photo-box{
	width: 20%;
	height:100%;
}
.type-inner-box{
	margin-top: 16px;
	margin-left: 23px;
	width: auto;
}
.img-haibao{
	width: 100%;
	height: 100%;
}
.img-haibao-status-points{
	width: 200px;
	height: 52px;
	position: relative;
	bottom: 73px;
	left:23px;
	display: flex;
	flex-direction: row;
}
.point{
	width: 29px;
	height: 29px;
	border-radius: 50%;
	background-color: #FFFFFF;
	border: #000000 solid;
}
.login-url-box{
	display: flex;
	flex-direction: row;
}
.img-userHeadPhoto{
	width: 75px;
	height: 75px;
	margin-top: 80px;
	margin-left:100px;
}
.username{
	margin-top: 30px;
	margin-left:80px;
	font-size: 28px;
	font-family: '华文中宋'
}
.log-url{
	font-family: '华文宋体';
	font-size: 20px;
	margin-left: 80px;
	border: none;
	background-color: #FFFFFF;
}
.reg-url{
	font-family: '华文宋体';
	font-size: 20px;
	margin-left: 30px;
	border: none;
	background-color: #FFFFFF;
}
.logout-url{
	font-family: '华文宋体';
	font-size: 20px;
	margin-left: 80px;
	display: none;
	border: none;
	background-color: #FFFFFF;
}
.userhome-url{
	font-family: '华文宋体';
	font-size: 20px;
	margin-left: 30px;
	display: none;
	border: none;
	background-color: #FFFFFF;
}
.product-title-box{
	width: 100%;
	height: 160px;
	background-color: #f2f2f2;
}
.product-title{
	position: relative;
	width: 193px;
	height: 58px;
	font-family: '华文宋体';
	font-size: 48px;
	color: #e1251b;
	margin-left: 40%;
	top: 51px;
}
.product-box-t{
background-color: #f7f7f7;
width:1500px;
height: auto;
display: flex;
flex-direction: row;
}
.product_box{
	width:95%;;
}
.right-table-bar{
	width:5%;
	height:690px;
	background-color: #ffffff;
	float:right;
	border-radius: 43px 43px 0 0;
	margin-right: 3%;
	/*position: fixed;*/
}
.bar-user {
	width: 100%
}
.bar{
	width: 50px;
	height: 63px;
	font-size: 23px;
	font-family: '隶书';
	margin-left: 13px;
	color: #666666;
}
.bar:hover{
	color:red;
}
.h-line{
	width:100%;
	height: 2px;
	background-color: #666666
}
.item-box{
	float: left;
	margin: 5px 20px 0px 0px;
	width: 320px;
	height: 428px;
	background-color: #ffffff;
	border:0.5px outset;
}
.item-box img{
	width: 191px;
	height:191px;
	margin-top: 48px;
	margin-left: 65px;
}
.item-title{
	width: 251px;
	height:45px;
	margin-top: 57px;
	margin-left: 30px;
	font-family: '等线';
	font-size: 20px;
	text-align: center;
	overflow: hidden;
	color: #999999;
}
.item-foot-box{
	margin-top: 35px;
	display: flex;
	flex-direction: row;
}
.item-price{
	font-family: 'cooper-black-std';
	font-size: 20px;
	width: auto;
	color: #E1251B;
	margin-left: 30px;
}
.item-author{
	width: 60px;
	height: 30px;
	margin-left: 150px;
	font-family: 'Arial';
	font-size: 20px;
	overflow: hidden;
	color: #999999;
}
.footer{
	width:100%;
	height: 90px;
	margin-top: 80px;
	background-color: #D7D7D7;

}
.footer-context{
	position: relative;
	width:auto;
	height: auto;
	text-align: center;
	top: 35px;
}


/**
登录页面部分的CSS
作者：王云
时间：2020 4/18
**/
.login-box{
	width: 425px;
	height:577px;
	border: solid #cccccc;
}
.login-img-head{
	width: 110px;
	height: 110px;
	margin-top: 75px;
	margin-left: 152px;
}
.username-input-box{
	width: 295px;
	height: 62px;
	margin-top: 38px;
	margin-left: 60px;
}
.username-input-box input{
	width: 100%;
	height: 100%;
	border-radius: 26px 26px 26px 26px;
	background-color: #f2f2f2;
	font-family: '等线';
	font-size: 22px;
	border:0;
	outline:none;
}
.password-input-box{
	width: 295px;
	height: 62px;
	margin-top: 38px;
	margin-left: 60px;

}
.password-input-box input{
	width: 100%;
	height: 100%;
	border-radius: 26px 26px 26px 26px;
	background-color: #f2f2f2;
	font-family: '等线';
	font-size: 22px;
	border:0;
	outline:none;
}
.login-box button{
	width: 140px;
	height: 40px;
	border-radius: 5px 5px 5px 5px;
	margin-top: 25px;
	margin-left: 137px;
	background-color: #FFFFFF;
}
.login-jump-url{
	margin-top: 50px;
	margin-left: 60px;
	font-family: '等线';
	font-size: 18px;
}
/*
注册页面部分
时间：2020 4/18
作者：王云
*/
.register-box{
	width: 425px;
	height:781px;
	border: solid #cccccc;
}
.register-box img{
	width: 110px;
	height: 110px;
	margin-top: 75px;
	margin-left: 158px;
}
.phone-input-box{
	width: 295px;
	height: 62px;
	margin-top: 38px;
	margin-left: 60px;
}
.phone-input-box input{
	width: 100%;
	height: 100%;
	border-radius: 26px 26px 26px 26px;
	background-color: #f2f2f2;
	font-family: '等线';
	font-size: 22px;
	border:0;
	outline:none;
}
.send-check-button{
	width: 140px;
	height: 40px;
	margin-left: 220px;
	margin-top: 15px;

}
.send-check-button button{
	width: 100%;
	height: 100%;
	border-radius: 5px;
	background-color: #FFFFFF;
}
.check-input-box{
	width: 295px;
	height: 62px;
	margin-top: 10px;
	margin-left: 60px;
}
.check-input-box input{
	width: 100%;
	height: 100%;
	border-radius: 26px 26px 26px 26px;
	background-color: #f2f2f2;
	font-family: '等线';
	font-size: 22px;
	border:0;
	outline:none;
}
.password1-input-box{
	width: 295px;
	height: 62px;
	margin-top: 38px;
	margin-left: 60px;
}
.password1-input-box input{
	width: 100%;
	height: 100%;
	border-radius: 26px 26px 26px 26px;
	background-color: #f2f2f2;
	font-family: '等线';
	font-size: 22px;
	border:0;
	outline:none;
}
.password2-input-box{
	width: 295px;
	height: 62px;
	margin-top: 38px;
	margin-left: 60px;
	
}
.password2-input-box input{
	width: 100%;
	height: 100%;
	border-radius: 26px 26px 26px 26px;
	background-color: #f2f2f2;
	font-family: '等线';
	font-size: 22px;
	border:0;
	outline:none;
}
.register-submit-button{
	width: 140px;
	height: 40px;
	border-radius: 5px 5px 5px 5px;
	margin-top: 25px;
	margin-left: 137px;
	background-color: #FFFFFF;
}
.register-jump-url{
	margin-top: 50px;
	margin-left: 60px;
	font-family: '等线';
	font-size: 18px;
}
/*社区页面css开始
时间：2020 4/20
作者：王云
*/
.community-body{
	margin-top: 20px;
	width: 100%;
	height: auto;
	display: flex;
	flex-direction: row;
	background: #f0f0f0
}
.community-left-aside{
	width: 20%;
	height: auto;
}
.community-mid-body{
	width: 75%;
}
.bar-content{
	width: 70%;
	height: auto;
	margin: 20px 10px 10px 20px;
	background: #ffffff
}
.community-bar-item{
	font-family: '隶书';
	font-size: 28px;
	text-align: center;
	color:#707070;
	margin-top: 40px;
	margin-bottom: 40px;
}
.community-bar-item:hover{
	color:#ff0000;
}
.recommend-item-box{
	margin-top: 20px;
	margin-left: 2%;
	margin-bottom: 20px;
	width: 23%;
	height: 400px;
	background: #FFFFFF;
	float: left;
}
.item-desc{
	display: flex;
	flex-direction: row;
	margin-top: 40px;
	height: 60px;
}
.item-desc img{
	border-radius: 30px;
	margin-left: 10px;
	height: 60px;
	width: 60px;
}
.item-desc div{
	margin-top:10px;
	margin-left: 10px;
	margin-bottom: 10px;
	font-family: '等线';
	font-size: 20px;
	color: #999999;
	overflow: hidden;
	height: 20px;
	text-align: center;
}
.item-love{
	width: 29px;
	height: 29px;
	float: right;
	margin-right: 15px;
}
.recommend-item-img{
	width: 100%;
	height: 260px;
}
.shopcart-mid-box{
	width: 100%;
	height: 700px;
	display: flex;
	flex-direction: row;
}
.shopcart-info{
	width: 95%;
	height: 780px;
	border-right: 0.5px #cccccc;
}
.shopcart-info-head{
	height: 100px;
	font-family: '等线';
	font-size: 23px;
	color: #e1251b;
	border:1px #8F8F8F ;
	display: flex;
	flex-direction: row;
}
.shopcart-info-head-title{

	width: 30%;
	height:30px;
	position: relative;
	top:70px;
}
.shopcart-info-head-address{
	width: 25%;
	height: 100px;
	position: relative;
	top:30px;
	font-family: 'Arial';
	font-size: 16px;
	color: #666666;
}
.shopcart-info-head-address select{
	width: 150px;
}
.shopcart-list-head{
	width: 100%;
	height: 30px;
	display: flex;
	flex-direction: row;
	font-family: 'Arial';
	font-size: 16px;
	color: #666666;
	background-color: #f3f3f3
}
.shopcart-list-head-selectAll{
	
	width: 11.2%;
	text-align:center;
}
.shopcart-list-head-productname{
	margin-left: 4.2%;
	width:18.7%;
	text-align:center;
}
.shopcart-list-head-preprice{
	margin-left: 25.3%;
	width: 3.7%;
	text-align:center;
}
.shopcart-list-head-number
{
	margin-left: 4.6%;
	width: 9%;
	text-align:center;
}

.shopcart-list-head-count{
	margin-left: 4.5%;
	width: 3.7%;
	text-align:center;
}
.shopcart-list-head-operate{
	margin-left: 5.1%;
	width: 7.4%;
	text-align:center;
}
.shopcart-list-item-box{
	width: 100%;
	height: 176px;
	display: flex;
	flex-direction: row;
	font-family: 'Arial';
	font-size: 16px;
	color: #666666;
	border-bottom: 1px solid #000000;
}
.shopcart-list-item-select{

	width: 11.2%;
	text-align:center;
	padding-top:20px; 
}
.shopcart-list-item-select img{
	width:73%;
	height: 62.5%;
	
}
.shopcart-list-item-productname{
	margin-left: 4.2%;
	width:18.7%;
	
	text-align:center;
	padding:50px 0;
}
.shopcart-list-item-preprice{
	margin-left: 5.3%;
	width: 3.7%;
	text-align:center;
	padding:50px 0;
}
.shopcart-list-item-number
{
	margin-left: 4.6%;
	width: 9%;
	text-align:center;
	padding:50px 0;
}

.shopcart-list-item-count{
	margin-left: 4.5%;
	width: 3.7%;
	text-align:center;
	padding:50px 0;
}
.shopcart-list-item-operate{
	margin-left: 5.1%;
	width: 7.4%;
	text-align:center;
	padding:50px 0;
}
.shopcart-pay-box{
	width: 100%;
	height: 100px;
	display: flex;
	flex-direction: row;
	border: solid 1px #cccccc;
}
/*
商品详情页开始
Author:王云
Date:2020 4/22
*/
.productinfo-body{
	width: 100%;
	display: flex;
	flex-direction: row;
}
.productinfo-box{
	width: 95%;
	height: 600px;
	display: flex;
	flex-direction: row;
}
.product-img-lunbo{
	width: 30%;
	height: 66.7%;
	margin-top: 100px;;
	margin-left: 10.5%;
}
.product-img-lunbo-img{
	width: 400px;
	height: 400px;
}
.productinfo-desc-box
{
	margin-top: 100px;
	margin-left: 12.2%;
	width: 23.6%;
	height: 400px;
}
.productinfo-title{
	width: 100%;
	height: 16.8%;
	font-family: 'Arial';
	font-size: 28px;
	color: #333333;
	overflow: hidden;
}
.productinfo-author
{
	font-family: 'Arial';
	font-size: 18px;
	color: #333333;
	overflow: hidden;
		display: flex;
	flex-direction: row;
}
.productinfo-price
{
	font-family: 'Arial';
	font-size: 18px;
	color: #333333;
	overflow: hidden;
		display: flex;
	flex-direction: row;
}
.productinfo-number{
	display: flex;
	flex-direction: row;
}

