<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>个人中心</title>
	<link href="css/hands.css" rel="stylesheet" type="text/css"/>
	<script src="js/jquery-3.4.1.min.js"></script>
	<script src="js/jquery.cookie.js"></script>
	<script src="js/vue.min.js"></script>
	<script type="text/javascript" src="js/hans-index.js"></script>
	<script src="js/main.js"></script>
</head>
<body>
	<div id="home_body">
			<div class="header" >
		<div class="left-logo">
			<div style="font-family:'华文新魏'; font-size: 48px;color: #FF0004">汉织</div>
			<div style="font-family:'cooper-black-std';font-size: 28px;color:#FF0004">HANDS</div>
		</div>
		<div class="searchbox">
			<input type="text" class="search-input">
			<img src="image/icon/相机.png" class="camera"/>
			<div class="search-icon-box">
				<img src="image/icon/搜索.png" class="search-icon"/>
			</div>
		</div>
		<div class="language">
			<div>语言 | LANGUAGE</div>
			<div style="margin-top: 15px">中文 | ENGLISH</div>
		</div>
		
		<img src="image/icon/二维码.png" class="head-right-logo"/>
	</div>
	<!--头部结束-->
		<div style="display: flex;flex-direction: row;background:#f7f7f7;margin-top: 20px;width: 100%">	
			<div class="home-left-bar">
				<div style="width: 80%;margin-left: 10%;text-align: center;height: 100%;padding-top: 10%;">
					<div class="home-left-bar-text" data-index="0">个人资料</div>
					<div class="h-line"></div>
					<div class="home-left-bar-text"  data-index="1">我的消息</div>
					<div class="h-line" ></div>
					<div class="home-left-bar-text" data-index="2">我的订单</div>
					<div class="h-line" ></div>
					<div class="home-left-bar-text" data-index="3">我的钱包</div>
					<div class="h-line" ></div>
					<div class="home-left-bar-text" data-index="4">我的商品</div>
					<div class="h-line" ></div>
					
					<div class="home-left-bar-text" data-index="5"><img src="image/icon/设置.png" style="width: 25%">设置</div>
					
				
				</div>
			</div>
			<!--中间的卡片放置的box-->
				<div class="chart-item-box">
					<div class="chart-item" index="0" style="z-index: 60;left: 30px;background: #E0EDF0">
						<img :src="user.headimg" style="width: 20%;height: 17%;border-radius: 60px 60px 60px 60px;margin-top: 4.5%;margin-left: 5.2%" />
						<div class="user-info" >
							<div class="user-info-label">昵称：</div>
							<div class="user-info-value" >{{user.name}}</div>
						</div>
						<div class="user-info">
							<div class="user-info-label">ID:</div>
							<div class="user-info-value">{{user.id}}</div>
						</div>
						<div class="user-info">
							<div class="user-info-label">性别:</div>
							<div class="user-info-value">{{user.sex}}</div>
						</div>
						<div class="user-info">
							<div class="user-info-label">生日：</div>
							<div class="user-info-value">{{user.birthday}}</div>
						</div>
						<div class="user-info">
							<div class="user-info-label">常住地：</div>
							<div class="user-info-value">{{user.address}}</div>
						</div>
						<div class="user-info">
							<div class="user-info-label">标签：</div>
							<div  class="user-info-value">
								<div class="user-info-value-label" v-for="item in user.label">{{item}}</div>
							</div>
						</div>
					</div>
					<div class="chart-item" index="1" style="z-index: 50;left: 130px;background: #ffffff">
						<img src="image/icon/消息.png" style="width: 20%;height: 17%;border-radius: 60px 60px 60px 60px;margin-top: 4.5%;margin-left: 5.2%" />
						<div class="message-little-box">
								
							
								<div class="message-item" v-for="item in messageArray" @click="getchartUrl(item[0].messageFrom)">
									<img :src="item.headimg" style="width: 15%;height: 60%;border-radius: 50%;margin-top: 5%;margin-left: 10%" />
									<div style="font-size: 20px;width: 50%;height: 50%;margin-top: 8%;overflow: hidden;margin-left: 10%">{{item[0].message}}</div>
									<div class="point" style="background:red;color: #ffffff;text-align: center;margin-top: 10%;" v-if="!item.status">{{item.length}}</div>
									
								</div>
						</div>
					</div>
					<div class="chart-item" index="2" style="z-index: 40;left: 230px;background: #E0EDF0">
						<img src="image/icon/订单.png" style="width: 20%;height: 17%;border-radius: 60px 60px 60px 60px;margin-top: 4.5%;margin-left: 5.2%" />
						<div class="message-little-box" style="width: 70%;margin-left: 25%" >
								
							
								<div class="message-item" v-for="item in orderArray">
									<img :src="item.productimg" style="width: 20%;height: 100%;border-radius: 50%;" />
									<div style="font-size: 20px;width: 50%;height: 50%;margin-top: 8%;overflow: hidden;margin-left: 10%">{{item.producttitle}}</div>
								</div>
						</div>
					</div>
					<div class="chart-item"  index="3" style="z-index: 30;left: 330px;background: #ffffff">
						<img src="image/icon/钱包.png" style="width: 20%;height: 17%;border-radius: 60px 60px 60px 60px;margin-top: 4.5%;margin-left: 5.2%" />
						<div style="width: 50%; margin-left: 25%;display: flex;flex-direction: row;overflow: hidden;margin-top: 9%;">
							<div style="font-size: 35px;font-family: '等线'">我的织币：</div>
							<div style="font-size: 35px;font-family: '等线'">{{acount.balance}}</div>
						</div>
						<input type="button" value="充值" style="width: 50%;height: 8%;border-radius: 25px;margin-left: 25%;margin-top: 9%"/><br>
						<input type="button" value="体现" style="width: 50%;height: 8%;border-radius: 25px;margin-left: 25%;margin-top: 9%"/><br>
						<input type="button" value="账单" style="width: 50%;height: 8%;border-radius: 25px;margin-left: 25%;margin-top: 9%"/>
					</div>
					<div class="chart-item" index="4" style="z-index: 20;left: 430px;background: #ffffff">
						<img src="image/icon/myproduct.png" style="width: 20%;height: 17%;border-radius: 60px 60px 60px 60px;margin-top: 4.5%;margin-left: 5.2%" />
						<div class="message-little-box" style="width: 70%;margin-left: 25%" >
							
								<div class="message-item" v-for="item in myproduct">
									<img :src="item.productimg" style="width: 20%;height: 100%;border-radius: 50%;" />
									<div style="font-size: 20px;width: 50%;height: 50%;margin-top: 8%;overflow: hidden;margin-left: 10%">{{item.producttitle}}</div>
								</div>
						</div>
					</div>
					<div class="chart-item" index="5" style="z-index: 10;left: 530px;background: #E0EDF0">
							<img src="image/icon/设置红.png" style="width: 20%;height: 17%;border-radius: 60px 60px 60px 60px;margin-top: 4.5%;margin-left: 5.2%" />
							<div style="width: 70%; height: 9%;overflow: hidden;display: flex;flex-direction: row;background-color: #ffffff;border-radius: 25px;margin-left: 25%;">
								<div style="width: 80%;margin-left: 5%;padding-top:0.5cm; ">账户与安全</div> <img src="image/icon/上 (1).png" style="width: 10%;height: 80%;padding-top: 0.2cm"/>
							</div>
							<div style="width: 70%; height: 9%;overflow: hidden;display: flex;flex-direction: row;background-color: #ffffff;border-radius: 25px;margin-left: 25%;margin-top: 5%">
								<div style="width: 80%;margin-left: 5%;padding-top:0.5cm; ">通知设置</div> <img src="image/icon/上 (1).png" style="width: 10%;height: 80%;padding-top: 0.2cm"/>
							</div>
							<div style="width: 70%; height: 9%;overflow: hidden;display: flex;flex-direction: row;background-color: #ffffff;border-radius: 25px;margin-left: 25%;margin-top: 5%">
								<div style="width: 80%;margin-left: 5%;padding-top:0.5cm; ">通用设置</div> <img src="image/icon/上 (1).png" style="width: 10%;height: 80%;padding-top: 0.2cm"/>
							</div>
							<div style="width: 70%; height: 9%;overflow: hidden;display: flex;flex-direction: row;background-color: #ffffff;border-radius: 25px;margin-left: 25%;margin-top: 5%">
								<div style="width: 80%;margin-left: 5%;padding-top:0.5cm; ">关于汉织</div> <img src="image/icon/上 (1).png" style="width: 10%;height: 80%;padding-top: 0.2cm"/>
							</div>
							<div style="width: 70%; height: 9%;overflow: hidden;display: flex;flex-direction: row;background-color: #ffffff;border-radius: 25px;margin-left: 25%;margin-top: 5%">
								<div style="width: 80%;margin-left: 5%;padding-top:0.5cm; ">登出账户</div> <img src="image/icon/上 (1).png" style="width: 10%;height: 80%;padding-top: 0.2cm"/>
							</div>
					</div>
		
				</div>
			<div class="right-table-bar" style="margin-left: 30px;background: #ffffff">
			<img src="image/icon/头像.png" alt="个人中心" class="bar-user"/>
			
			<div class="bar" style="margin-top:20px; ">汉织商城</div>
			<div class="h-line"></div>
			<a onClick="loginFilter('shopcart.html')"><div class="bar" style="margin-top:20px; ">购物车</div></a>
			<div class="h-line"></div>
			<a href="community.html"><div class="bar" style="margin-top:20px; ">汉织社区</div></a>
			<div class="h-line"></div>
			<img src="image/icon/咨询 (1).png" style="width: 50%;margin-top:20px;margin-left: 20px"/>
			<div class="bar" style=" ">客服</div>
			<div class="h-line"></div>
			<img src="image/icon/写.png" style="width: 50%;margin-top:20px;margin-left: 20px"/>
			<div class="bar">反馈</div>
			<div class="h-line"></div>
			<img src="image/icon/上 (1).png" style="width: 50%;margin-top:20px;margin-left: 20px"/>
			<div class="bar">顶部</div>
		
		
		</div>
	</div>		
	<div class="footer">
		<div class="footer-context"> 
			咨询热线:　13668429330　中央民族大学汉织小组 版权所有 渝ICP备19013354号
		</div>
	</div>
	</div>
	<script src="js/home.js"></script>
</body>
</html>
